@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Serif&display=swap');

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'PT sans', sans-serif;
    background-color: #252526;
    color: #fff;
    line-height: 1.6;
}

a {
    color: #ccc;
}

#showcase {
    background: url('./img/background-1.avif') no-repeat center/cover;
    height: 100vh;
    width: 100%;
    position: relative;
    overflow-y: hidden;
}

#showcase .container {
    margin-top: 25vh;
}

#showcase h1 {
    font-size: 4rem;
    /* root element  font size  */
    /* margin-bottom: 0; */
}

#showcase h2 {
    font-size: 2rem;
    /* root element  font size  */
}

nav {
    height: 50;
    width: 100%;
    background-color: #333;
    color: rgb(51, 34, 34);
    position: fixed;
}

nav ul {
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    float: left;
}

nav a {
    display: inline-block;
    width: 100px;
    text-align: center;
    padding: 10px 0;
    color: #eee;
}

nav li:hover {
    background-color: brown;
}

.container {
    max-width: 100%;
    text-align: center;
    margin: 0 auto;
    padding: 0 3rem;
    margin-top: 20px;
}

.hide-on-small {
    font-size: 20px;
}

footer .footer-cols {
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem;
    text-align: left;
    font-size: 14px;
}

footer .footer-cols ul {
    list-style: none;
}

footer .footer-cols ul li:first-child {
    font-size: 18px;
    padding: 0.5rem;
    border-bottom: #444 solid 1px;
    margin-bottom: 20px;
}

.footer-bottom {
    background-color: #333;
    padding: 1rem;
    text-align: center;
}

/* Contant us */
input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    background-color: #04AA6D;
    color: #333;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.form-type {
    border-radius: 5px;
    background-color: #333;
    padding: 20px;
}

#contant_us {
    margin-top: 10px;
    height: 100vh;
}

